.App {
    overflow: hidden;
    /*text-align: center;*/
}

.App .power {
    cursor: pointer;
    color: #a97a7a;
    transition: background-color .3s, color .3s;
}

.App .power:hover {
    color: #b44747;
    background-color: #2f353e;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App .left-navigation {
    margin: 0 40px;
    max-height: 500px;
    height: 80vh;
    border: 1px solid #262626;
    border-radius: 50px;
    background-color: #00000047;
    padding: 15px;
    overflow: auto
}

.App .left-navigation-item {
    margin: 15px 0;
    padding: 5px;
    border-radius: 10px;
    transition: background-color .3s;
}

.App .left-navigation-item:hover {
    background: #282c34;
}

.App .left-navigation::-webkit-scrollbar {
    width: 0;
}

.App .left-navigation-icon {
    cursor: pointer;
    width: 60px;
    transition: box-shadow .5s;
}