.ant-notification {
    z-index: 999999999;
}

.ant-image-preview-operations-wrapper {
    z-index: 99999 !important;
}

.ant-image-preview-mask {
    z-index: 10001 !important;
}

.ant-image-preview-wrap {
    z-index: 10002 !important;
}